.form-control {
    margin: 1rem 0;
    text-align: center;
}

.form-control label,
.form-control input {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 0.25rem;
}

.btn {
     display: block;
     margin: auto;
     margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}
